<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/home"  class="nav-link px-2 text-white">home</a></li>
          <li><a routerLink="/entreprise" class="nav-link px-2 text-white">ajouter une entreprise</a></li>
          <li><a routerLink="/particulier" class="nav-link px-2 text-white">ajouter un particulier</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">contact</a></li>
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
        </form>
  
        <div class="text-end">
          <a routerLink="/login"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          <a routerLink="/#"><button type="button" class="btn btn-warning">Sign-up</button></a>
        </div>
      </div>
    </div>
  </header>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><strong>LE MONDE DU SERVICE </strong> </h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a routerLink="/piment-index" class="btn btn-primary my-2">TOUT LES PRESTATION </a>&nbsp;
          <a routerLink="/piment-add" class="btn btn-secondary my-2">PRESTER UN SERVICE</a> &nbsp;
          <a routerLink="/piment-add" class="btn btn-primary my-2">COMMENT CA MARCHE</a>
        </p>
      </div>
    </div>
  </section>